{% extends "layout.html" %}
{% block content %}
<h2>Welcome to Flickscore</h2>
<p>Flickscore allows you to get a better idea of the quality of a movie. So often there are films that are beloved by critics, but hated by the general audience or vice-versa. Flickscore will give you an average rating of everyone's views, both the critics and the regular person. Flickscore gets it's data from 3 main sources: Rotten Tomatoes, IMDB, and Metacritc. By averaging all the scores from all these different sources you get a much better idea of how good a movie is.</p> 
<p>So just go ahead and start searching for your favorite movies in the field above.</p>
{% endblock %}